
{{>head}}

{{>navbar}}

<div class="row">
  <div class="col-8">
    <h1>About You</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, voluptatum labore, libero nam illo quam, quis cupiditate perferendis vel vero obcaecati! Ut nemo doloremque ab nostrum quis eaque quae eveniet.
    </p>

  </div>


  <div class="col-4">
    <h1>
      <img src="assets/img/AvatarMAAD.png" class="img-thumbnail">
    </h1>

  </div>
</div>





{{>footer}}